body {
  overflow: hidden;
}
.editor {
  position: absolute;
  margin: 0;
}
div,
input,
select {
  user-select: none;
}
svg {
  user-select: none;
  position: absolute;
  z-index: -20;
  left: -50%;
  top: -50%;
}
canvas {
  margin: 0 0;
  z-index: 10;
}
